.idea/formata_views.iml
.idea/inspectionProfiles/
.idea/modules.xml
.idea/workspace.xml
.vscode/
__pycache__/
infra/__pycache__/
settings/views_6461.sql
venv/
settings/gerar_arquivo_geral.py
*.zip
views/